build/
nova
.vscode/settings.json
*.Po
*.o
autom4te.cache/
autom4te.cache

config.log
config.status

aclocal.m4
config/compile
config/depcomp
config/install-sh
config/missing
configure
Makefile
Makefile.in
